
/* Your CSS Code here. */
*{
	/*padding:0;
	margin:0;*/
	
}
body{

}

.big-div {
	border: 1px solid black;
	width: fit-content;
}

.div1{
	padding:50px;
	background-color:lightblue;
	width:300px;
	margin:20px;
	border:15px solid blue;
	
}


	
